.App {
    text-align: center;
}


/*
.Container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.Poland {
    height: 10px;
    width: 50px;
}

.Austria {
    height: 10px;
    width: 50px;
}

.France {
    height: 10px;
    width: 50px;
}
*/

.App-header {
    background-color: #282c34;
    min-height: 10vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}